<a href="https://colab.research.google.com/github/thiagoc09/sigmoidal-estudos/blob/main/a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
excel = pd.read_csv("/content/20220804_rtbhouse.csv")
excel2 = pd.read_csv("/content/20220805_rtbhouse.csv")

In [6]:
concat = [excel,excel2]

In [7]:
concat = pd.concat(concat)

In [9]:
excel

               Date;Size;Device;Imps;Clicks;Cost (BRL)
0    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
1    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
2    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
3    2022-07-29;alp_varejo-nac-2019_rtbhouse_native...
4    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
..                                                 ...
559  2022-08-04;alp_varejo-nac-2019_rtbhouse_displa...
560  2022-08-04;alp_varejo-nac-2019_rtbhouse_displa...
561  2022-08-04;alp_varejo-nac-2019_rtbhouse_displa...
562  2022-08-04;alp_varejo-nac-2019_rtbhouse_displa...
563  2022-08-04;alp_varejo-nac-2019_rtbhouse_displa...

[564 rows x 1 columns]

In [10]:
excel2

               Date;Size;Device;Imps;Clicks;Cost (BRL)
0    2022-07-30;alp_varejo-nac-2019_rtbhouse_native...
1    2022-07-30;alp_varejo-nac-2019_rtbhouse_displa...
2    2022-07-30;alp_varejo-nac-2019_rtbhouse_displa...
3    2022-07-30;alp_varejo-nac-2019_rtbhouse_displa...
4    2022-07-30;alp_varejo-nac-2019_rtbhouse_displa...
..                                                 ...
562  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
563  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
564  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
565  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
566  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...

[567 rows x 1 columns]

In [11]:
concat

               Date;Size;Device;Imps;Clicks;Cost (BRL)
0    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
1    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
2    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
3    2022-07-29;alp_varejo-nac-2019_rtbhouse_native...
4    2022-07-29;alp_varejo-nac-2019_rtbhouse_displa...
..                                                 ...
562  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
563  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
564  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
565  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...
566  2022-08-05;alp_varejo-nac-2019_rtbhouse_displa...

[1131 rows x 1 columns]

In [14]:
concat.to_excel("todos_cursos.xlsx")