<a href="https://colab.research.google.com/github/thiagoc09/sigmoidal-estudos/blob/main/Manipucao_colaab_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# importando os pacotes necessários
from google.colab import drive

# montando o drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [17]:
# lendo o arquivo a.txt
with open('/content/gdrive/MyDrive/a.txt', 'r') as clientes:
  print(clientes.read())

Thiago
Laura
Anabel
Henrique

In [ ]:
#@title Formulário Python na Prática
#@markdown Formulários suportam muitos tipos de dados.

Sem tipo específico = ''  #@param
Nome (String) = 'example'  #@param {type: "string"}
Idade (Slider de Valores) = 31  #@param {type: "slider", min: 18, max: 100}
Número (Integer) = 102  #@param {type: "number"}
Data = '2010-11-02'  #@param {type: "date"}
Drop Down = "wednesday"  #@param ['monday', 'tuesday', 'wednesday', 'thursday']
Selecione ou Acrescente = "apples" #@param ["apples", "bananas", "oranges"] {allow-input: true}
#@markdown ---

In [36]:
import os
os.getcwd()
os.mkdir('teste4.txt')
os.chdir('teste4.txt')
with open('teste4.txt','w') as txt:
  txt.write('Thiago Caetano')
with open('teste4.txt','a') as txt:
  txt.write('\n22 anos')

In [44]:
with open('teste4.txt','r') as txt:
  print(txt.read())

Thiago Caetano/n22 anos