<a href="https://colab.research.google.com/github/thiagoc09/sigmoidal-estudos/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Base da dodos de refugiados no brasil

In [1]:
import pandas as pd
df = pd.read_excel("https://www.dropbox.com/s/69pajozeme6ezjc/solicitacoes-de-reconhecimento-da-condicao-de-refugiado.xlsx?dl=1")

In [2]:
# verificando as 5 primeiras entradas
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

In [3]:
# verificando a quantidade de refugiados por país
df["Nacionalidade"].value_counts()

CUBA         887
HAITI        775
VENEZUELA    665
COLÔMBIA     556
SENEGAL      469
            ...
NORUEGA        1
BELARUS        1
BAREINE        1
BARBADOS       1
MAURÍCIO       1
Name: Nacionalidade, Length: 165, dtype: int64

In [4]:
# verificando países com mais refugiados no Brasil
df["Nacionalidade"].value_counts()[:10]

CUBA            887
HAITI           775
VENEZUELA       665
COLÔMBIA        556
SENEGAL         469
SÍRIA           466
BANGLADESH      385
GUINÉ BISSAU    371
ANGOLA          343
CONGO           337
Name: Nacionalidade, dtype: int64

In [5]:
# ver o total de refugiados
df["Quantidade"].sum()

178037